In [1]:
import time 
from tqdm import tqdm
import pyyoutube
import pandas as pd 
import pandas as pd

API_KEY = "AIzaSyBTj6qYk3Ms82gou0EzdAaguvF6dbZKLYo"
abn_channel_id = "UC_2irx_BQR7RsBKmUV9fePQ"
tv5_channel_id = "UCAR3h_9fLV82N2FH4cE4RKw"
tv9_channel_id = 'UCPXTXMecYqnRKNdqdVOGSFg'
sakshi_channel_id = 'UCQ_FATLW83q-4xJ2fsi8qAw'

video_ids = {}
for id in [abn_channel_id,tv5_channel_id,tv9_channel_id, sakshi_channel_id]:
    print(id)
    video_ids[id] = []
    api = pyyoutube.Api(api_key=API_KEY)
    channel_info = api.get_channel_info(channel_id=id)
    playlist_id = channel_info.items[0].contentDetails.relatedPlaylists.uploads

    uploads_playlist_items = api.get_playlist_items(
        playlist_id=playlist_id, count=50000, limit=50
    )
    for item in tqdm(uploads_playlist_items.items):
        time.sleep(0.01)
        video_id = item.contentDetails.videoId
        video_ids[id].append(video_id)
video_ids_all = []
for i in video_ids.keys():
    video_ids_all = video_ids_all + video_ids[i]
df = pd.DataFrame()
df['ids'] = video_ids_all
df.to_csv('data/ids_input_new.csv')

df_new =  pd.read_csv('data/ids_input_new.csv')
del df_new['Unnamed: 0']
df_old_complete = pd.read_csv('data/videos_alphapolitica.csv')
df_new_disj =  df_new[~df_new['ids'].isin(df_old_complete['ids'])]
df_new_disj.to_csv('data/new_ids.csv',index=False)

df_list = []
for i in range(4):
    df_ = pd.DataFrame()
    df_['ids'] = list(video_ids.values())[i]
    df_['channel'] = ['abn',  'tv5', 'tv9', 'sakshi'][i]
df_list.append(df_)
df_old_complete = pd.read_csv('data/videos_alphapolitica.csv')
df_new_complete = pd.concat(df_list)
df_new_complete.to_csv('data/videos_alphapolitica_new.csv')
df_comp = pd.concat([df_old_complete,df_new_complete])
del df_comp['Unnamed: 0']
df_comp = df_comp.drop_duplicates('ids')
df_comp.to_csv('data/videos_alphapolitica.csv')

UC_2irx_BQR7RsBKmUV9fePQ

100%|██████████| 19633/19633 [03:58<00:00, 82.36it/s]

UCAR3h_9fLV82N2FH4cE4RKw

100%|██████████| 19756/19756 [04:03<00:00, 81.06it/s]

UCPXTXMecYqnRKNdqdVOGSFg

100%|██████████| 19952/19952 [04:19<00:00, 76.75it/s]

UCQ_FATLW83q-4xJ2fsi8qAw

100%|██████████| 11610/11610 [02:27<00:00, 78.49it/s]

In [ ]:

import pickle
from multiprocessing import Pool
import pandas as pd
from pytube import YouTube
import time 
from yt_dlp import YoutubeDL
 
fails = 0
with open("status_multi_process_f.txt", "w") as file:
    file.write(str(fails))
status = 0
with open("status_multi_process_s.txt", "w") as file:
    file.write(str(status))

df_videos = pd.read_csv('total_search.csv')
df_videos = df_videos.sample(len(df_videos))
df_videos = df_videos[~df_videos['ids'].isin(df.ids)]

def run(i):
    d = {}
    link = 'https://www.youtube.com/watch?v=' + i
    youtube_dl_opts = {}
    with YoutubeDL(youtube_dl_opts) as ydl:
          d = ydl.extract_info(link, download=False)
    to_keep = ['id','title','thumbnail','description','channel_id',
               'channel_url','duration','view_count','average_rating',
               'categories','tags','comment_count','fulltitle','duration_string','uploader','upload_date']
    d = dict(zip(to_keep, [d[k] for k in to_keep]))
    
    with open('save_data5/'+i+'.pkl', 'wb') as f:
        pickle.dump(d, f)
    with open('status_multi_process_s.txt') as f:
        lines = f.readlines()
    status = float(lines[0])
    status = status + 1 
    with open("status_multi_process_s.txt", "w") as file:
        file.write(str(status))

        
def update_data_with_video(A):
    i = A
    try:
        run(i)
    except:
        try:
            time.sleep(2)
            run(i)
        except:
            with open('status_multi_process_f.txt') as f:
                lines = f.readlines()
            fails = float(lines[0])
            fails = fails + 1 
            with open("status_multi_process_f.txt", "w") as file:
                file.write(str(fails))
    time.sleep(1)
        
with Pool(5) as p:
    print(p.map(update_data_with_video, list(df_videos.ids)))

In [ ]:
import glob 
import pickle
import pandas as pd
import glob 
import pickle
with open(glob.glob('save_data5/*pkl')[11], 'rb') as f:
    loaded_dict = pickle.load(f)
    
id_  = []
title  = []
thumbnail  = []
description  = []
channel_id  = []
channel_url  = []
duration  = []
view_count  = []
average_rating  = []
categories  = []
tags  = []
comment_count  = []
fulltitle  = []
duration_string  = []
uploader  = []
upload_date  = []

df = pd.DataFrame()
failed = 0
for i in glob.glob('save_data5/*pkl'):
    try:
        with open(i, 'rb') as f:
            loaded_dict = pickle.load(f)
        loaded_dict.keys()
        id_.append(loaded_dict['id'])
        title.append(loaded_dict['title'])
        thumbnail.append(loaded_dict['thumbnail'])
        description.append(loaded_dict['description'])
        channel_id.append(loaded_dict['channel_id'])
        channel_url.append(loaded_dict['channel_url'])
        duration.append(loaded_dict['duration'])
        view_count.append(loaded_dict['view_count'])
        average_rating.append(loaded_dict['average_rating'])
        categories.append(loaded_dict['categories'])
        tags.append(loaded_dict['tags'])
        comment_count.append(loaded_dict['comment_count'])
        fulltitle.append(loaded_dict['fulltitle'])
        duration_string.append(loaded_dict['duration_string'])
        uploader.append(loaded_dict['uploader'])
        upload_date.append(loaded_dict['upload_date'])
    except:
        failed = failed +1
        
df['ids'] = id_
df['title'] = title
df['thumbnail'] = thumbnail
df['description'] = description
df['channel_id'] = channel_id
df['channel_url'] = channel_url
df['duration'] = duration
df['view_count'] = view_count
df['average_rating'] = average_rating
df['tags'] = tags
df['categories'] = categories
df['comment_count'] = comment_count
df['fulltitle'] = fulltitle
df['duration_string'] = duration_string
df['uploader'] = uploader
df['upload_date'] = upload_date
df_old = pd.read_csv('videos_alphapolitica_complete_old.csv')
del df_old['Unnamed: 0']
df = pd.concat([df_old,df])
df.to_csv('videos_alphapolitica_complete_info_ids.csv')

In [10]:
import pandas as pd
df_new_ids = pd.read_csv('data/videos_alphapolitica_length_new.csv')
del df_new_ids['Unnamed: 0']
df_new_video = df_new_ids[df_new_ids['length'] < 6*60]
df_new_video[['ids']].to_csv('video_data/video_input.csv')
df_new_video[['ids']].to_csv('ids_data/ids_input.csv')

In [9]:
import pandas as pd
df_new_ids = pd.read_csv('data/videos_alphapolitica_length_new.csv')
df_old_ids = pd.read_csv('data/videos_alphapolitica_tagged.csv')
df_getting_tiles = pd.read_csv('data/videos_alphapolitica.csv')

array(['KF2Bi1CXzbI', 'I98JI-6q05c', '1RxYlt2LKPc', ..., 'HVn2y087DeU',
       'KTN5DOB4v9g', 'SNeQ_m7pv80'], dtype=object)

array(['-oJyN5WC0R4', 'V1dNvsJ6am4', 'SXCWXeuVKWc', ..., 'SwN0RdSmf6U',
       'YWR1XYLk7CQ', 'QaKljaCyuS0'], dtype=object)

In [12]:
len(list(set(set(df_old_ids['ids'].values) ).intersection(df_getting_tiles['ids'].values)))

69548

In [26]:
df_new_ids = pd.read_csv('data/ids_input_new.csv')
df_old_ids = pd.read_csv('data/videos_alphapolitica_tagged.csv')
df_new_ids = df_new_ids[['ids']]
df_old_ids = df_old_ids[['ids']]
df_total = pd.concat([df_new_ids,df_old_ids])
df_total = df_total.drop_duplicates()
df_total.to_csv('data/total_search.csv')

               ids
0      C3qv7qqTgzg
1      738WrA3_hSc
2      4MzGPVu6zF0
3      -tuoqe6PaXI
4      X3qTK6mZJfc
...            ...
69537  I38PjNCHgzo
69539  aQAgKrqICMg
69543  Q05boWGrz74
69545  SwN0RdSmf6U
69546  YWR1XYLk7CQ

[99785 rows x 1 columns]

In [14]:
pd.concat([df_new_ids,df_old_ids])

,Unnamed: 0,ids,length,title,keywords
0,0,KF2Bi1CXzbI,270.0,NaN,NaN
1,1,I98JI-6q05c,206.0,NaN,NaN
2,2,1RxYlt2LKPc,807.0,NaN,NaN
3,3,Rc7WQn7I6yY,284.0,NaN,NaN
4,4,2Z9TdHmr3Oc,68.0,NaN,NaN
...,...,...,...,...,...
69543,69543,Q05boWGrz74,NaN,National Top 9 News - TV9,"['టీవీ9', 'TV9', 'tv9 telugu', 'tv9news', 'tel..."
69544,69544,oP64WCm-9qE,NaN,మానవత్వం చాటుకున్న పవన్ కళ్యాణ్ | Pawan Kalyan...,"['abn news', 'abn telugu', 'abn andhrajyothi',..."
69545,69545,SwN0RdSmf6U,NaN,షర్మిల వెనుక బీజేపీ ఉంది | TRS Leaders strong ...,"['టీవీ9', 'TV9', 'tv9 telugu', 'tv9news', 'tel..."
69546,69546,YWR1XYLk7CQ,NaN,నెల్లూరులో విషజ్వరాల కలకలం.. ఒకేరోజు ముగ్గురు ...,"['abn news', 'abn telugu', 'abn andhrajyothi',..."
69547,69547,QaKljaCyuS0,NaN,PM Narendra Modi Convoy in Hyderabad | Sakshi ...,"['PM Narendra Modi Convoy', 'PM Narendra Modi ..."

In [1]:
import pandas as pd

In [2]:
df_status = pd.read_csv('/Users/kowshik/Downloads/ids_status.csv')

0        KF2Bi1CXzbI
1        I98JI-6q05c
2        Rc7WQn7I6yY
3        2Z9TdHmr3Oc
5        Q_5i9t66hfg
            ...
19875    eH7Ct_TGzNY
19961    Z05v96XfrhM
19973    tgv6z4kVPqk
20022    e9gbAMsg0oc
20061    ep2NpwPRGSg
Name: ids, Length: 4480, dtype: object

In [8]:
df_ids = pd.read_csv('ids_data/ids_input.csv')
del df_ids['Unnamed: 0']

In [12]:
df_ids_updated = df_ids[~df_ids['ids'].isin(df_status[df_status['audio_file_created'] == 1]['ids'])]

In [14]:
df_ids_updated.to_csv('/Users/kowshik/Desktop/ids_input.csv', index=False)